h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.example-one{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    margin: 20px;
    padding: 30px;
    width: 200px;
    height: 200px;
    text-align: left;
    writing-mode: horizontal-tb;
}

.example-two{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    margin: 20px;
    padding: 30px;
    width: 200px;
    height: 200px;
    writing-mode: vertical-rl;
}

/*Un modo de escritura en CSS se refiere a si el texto se ejecuta 
horizontal o verticalmente. La writing-modepropiedad nos permite 
cambiar de un modo de escritura a otro. */