*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    padding: 5%;
}

header h1{
    font-size: 2.3rem;
    font-family: sans-serif;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    font-size: 1.2rem;

    /*Esta propiedad indica al navegador el tipo de letra
    que debe aplicar a los elementos seleccionados.*/
    font-family: sans-serif;
}

section{
    margin-bottom: 5%;
}

main .color{
    /*se usa para controlar la forma 
    en que el texto se alinea dentro 
    de la caja que lo contiene.*/
    text-align: justify;
}

.color h2{
    /*te permiten establecer el espacio 
    entre las letras y entre las palabras del texto.*/
    letter-spacing: 1rem;
}

.color p{
    /*establece el color del contenido 
    de los elementos seleccionados*/
    color: darkcyan;

    /*establece la altura entre cada línea de texto*/
    line-height: 2;
}

.font p{
    text-align: justify;
}

.font .style{
    font-style: italic;
    color: salmon;
}

.font .decoration{
    text-decoration: line-through;
}


